html, 
body {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header img {
    height: 100px;
}

header {
    position: absolute;
    top: 5%;
    left: 5%;
}

nav {
    font-weight: 500;
    cursor: pointer;

    position: absolute;
    top: 17%;
    left: 5%;
}

/*
 * Nav Links
 */

 .hva_cat-link:hover,
 .hva_cat-link.active {
    font-weight: 700;
 }

/*
 * Animated "Loading" Gif 
 */

#hva_loading img {
      height: 100px;
      width: 100px;
}

#hva_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

/*
 * Category Images 
 */

 #hva_main {
     position: absolute;
     top: 17%;
     left: 30%;
 }

.hva_cat-img {
    border: none;
    margin-bottom: 10px; 
}

.hva_cat-img.first {
    margin-top: 0;
}

.hva_cat-img.last {
    margin-bottom: 0;
} 

